.stage-cube-cont {
  width: 50%;
  height: auto;
  top: 0;
  right: 0;
  padding-top: 18%;
  margin-left: 0;
  margin-right: 1rem;
  position: absolute;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0; // Centers animation rotation
  margin-left: calc(50% - 100px); // Width of cube is 100px

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  // Each face is rotated towards its position, then translated outward in a separate direction
  .face--front {
    transform: rotateY(0deg) translateZ(100px);
  }
  .face--back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .face--right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .face--top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@keyframes spincube {
  // Front, top, right, back, left, bottom
  from,
  to {
    transform: rotateX(0.1deg) rotateY(0.1deg) rotateZ(0.1deg);
  }
  16% {
    transform: translateZ(-100px) rotateX(-90.1deg);
  }
  33% {
    transform: translateZ(-100px) rotateY(-90.1deg);
  }
  50% {
    transform: translateZ(-100px) rotateY(-180.1deg);
  }
  66% {
    transform: translateZ(-100px) rotateY(-270.1deg);
  }
  83% {
    transform: translateZ(-100px) rotateX(90.1deg);
  }
}
