// Config for particle effects
$color-particle: #fff;
$spacing: 2560px;
$time-1: 60s;
$time-2: 120s;
$time-3: 180s;
$time-4: 200s;

// ----------------------------- Mixins -----------------------------
// Box shadow value
@function particles($max) {
  $val: 0px 0px $color-particle;
  @for $i from 1 through $max {
    $val: #{$val}, random($spacing) + px random($spacing) + px $color-particle;
  }
  @return $val;
}

@mixin particles($max) {
  box-shadow: particles($max);
  border-radius: 50%;
}

.stage-cube-cont {
  width: 50%;
  height: 85%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-left: 0;
  margin: auto 0;
  overflow: hidden;
}

.particle-bg,
.animation-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.particle,
.particle:after {
  background: transparent;
}

.particle:after {
  position: absolute;
  content: '';
  top: $spacing;
}

.particle-1 {
  animation: animParticle $time-1 linear infinite;
  @include particles(1000);
  height: 2px;
  width: 2px;
}

.particle-1:after {
  @include particles(900);
  height: 2px;
  width: 2px;
}

.particle-2 {
  animation: animParticle $time-2 linear infinite;
  @include particles(800);
  height: 2px;
  width: 2px;
}

.particle-2:after {
  @include particles(500);
  height: 3px;
  width: 3px;
}

.particle-3:after {
  @include particles(1100);
  height: 3px;
  width: 3px;
  border-radius: 50%;
}

.particle-4 {
  animation: animParticle $time-4 linear infinite;
  @include particles(1200);
  height: 1px;
  width: 1px;
}

.particle-4:after {
  @include particles(700);
  height: 1px;
  width: 1px;
}

.cubespinner {
  position: absolute;
  top: 40%;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0; // Centers animation rotation
  margin-left: calc(50% - 100px); // Width of cube is 100px

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  // Each face is rotated towards its position, then translated outward in a separate direction
  .face--front {
    transform: rotateY(0deg) translateZ(100px);
  }
  .face--back {
    transform: rotateY(180deg) translateZ(100px);
  }
  .face--right {
    transform: rotateY(90deg) translateZ(100px);
  }
  .face--left {
    transform: rotateY(-90deg) translateZ(100px);
  }
  .face--top {
    transform: rotateX(90deg) translateZ(100px);
  }
  .face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@keyframes spincube {
  // Front, top, right, back, left, bottom
  from,
  to {
    transform: rotateX(0.1deg) rotateY(0.1deg) rotateZ(0.1deg);
  }
  16% {
    transform: translateZ(-100px) rotateX(-90.1deg);
  }
  33% {
    transform: translateZ(-100px) rotateY(-90.1deg);
  }
  50% {
    transform: translateZ(-100px) rotateY(-180.1deg);
  }
  66% {
    transform: translateZ(-100px) rotateY(-270.1deg);
  }
  83% {
    transform: translateZ(-100px) rotateX(90.1deg);
  }
}

// Particle animation
@keyframes animParticle {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY($spacing * -1);
  }
}

// ------------------------ Media queries ------------------------
@media only screen and (max-width: 1550px) {
  .about-page .text-zone {
    h1 {
      font-size: 6.5rem;

      &::before {
        top: 0rem;
      }

      &::after {
        bottom: -1.4rem;
      }
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .page-about {
    min-height: 900px;
  }

  .about-page .text-zone {
    top: 26%;
    width: 70%;
  }

  .stage-cube-cont {
    width: 80%;
    height: 40rem;
    top: 71%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    left: 6rem;
    right: 0;

    .cubespinner {
      top: 25%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about-page .text-zone {
    left: 12.5rem;
    width: 65%;

    h1 {
      font-size: 4rem;

      &::before {
        top: -0.8rem;
      }

      &::after {
        bottom: -1.6rem;
      }
    }

    .paragraph-div {
      p {
        font-size: 1.4rem;
      }

      &::before {
        margin-top: -2rem;
      }

      &::after {
        margin-top: -1.6rem;
      }
    }
  }

  .page-about {
    min-height: 1050px;
  }
}

@media only screen and (max-width: 550px) {
  .about-page .text-zone {
    top: 30%;
  }

  .stage-cube-cont {
    top: 73%;
  }
}
