@import '../../global_val';

.home-page {
  .text-zone {
    position: absolute;
    left: 17rem;
    top: 50%;
    transform: translateY(-50%);
    width: 40%; // 40-60 split with content on the right side
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 10rem;
    line-height: 10rem;
    margin: 0;
    font-family: $heading-font;
    font-weight: 400;

    // Space width (web developer)
    .__10 {
      width: 2.5rem;
    }

    // Opening h1 tag around title
    &::before {
      content: '<h1>';
      font-family: $tags-font;
      font-size: 1.8rem;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: -5.5rem;
      left: -2rem;
    }

    // Closing h1 tag around title
    &::after {
      content: '</h1>';
      font-family: $tags-font;
      font-size: 1.8rem;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: 3rem;
      margin-left: 2rem;
      animation: fadeIn 1s 1.7s backwards;
    }

    // 'S' Logo in heading (Steven)
    img {
      width: 4.6rem;
      height: auto;
      margin-left: 2.5rem;
      opacity: 0; // Rotation animation, so initally set to 0
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
      pointer-events: none;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 4rem;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 1.6rem;
    font-family: sans-serif;
    letter-spacing: 0.3rem;
    animation: fadeIn 1s 1.8s backwards;

    &::before {
      content: '<p>';
      font-family: $tags-font;
      font-size: 1.8rem;
      letter-spacing: normal;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: -3rem;
      left: -2rem;
    }

    &::after {
      content: '</p>';
      font-family: $tags-font;
      font-size: 1.8rem;
      letter-spacing: normal;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: 3rem;
      margin-left: 1rem;
      left: -3rem;
    }
  }

  // Contact me button
  .flat-button {
    color: $primary-color;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border: 1px solid $primary-color;
    margin-top: 2.5rem;
    float: left;
    animation: fadeIn 1s 1.8s backwards;

    &:hover {
      background: $primary-color;
      color: #333;
    }
  }
}

// ------------------------ Media queries ------------------------
@media only screen and (max-width: 1700px) {
  .home-page {
    h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;

      img {
        width: 3rem;
        margin-left: 1.6rem;
      }

      .__10 {
        width: 1.6rem;
      }

      &::before {
        margin-top: -4rem;
      }

      &::after {
        margin-top: 2rem;
        margin-left: 1.6rem;
      }
    }

    h2 {
      font-size: 1.2rem;

      &::before {
        margin-top: -2.5rem;
      }

      &::after {
        margin-top: 2rem;
      }
    }
  }

  .page {
    min-height: 800px;
  }
}

@media only screen and (max-width: 1200px) {
  .home-page {
    .text-zone {
      width: 58%;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .home-page {
    .text-zone {
      top: 32%;
    }
  }

  .page {
    min-height: 850px;
  }
}

@media only screen and (max-width: 768px) {
  .home-page {
    .text-zone {
      left: 14rem;
    }
    h1 {
      font-size: 4rem;
      line-height: 4rem;

      img {
        width: 2.2rem;
        margin-left: 1.2rem;
      }

      .__10 {
        width: 1.2rem;
      }

      &::before {
        margin-top: -3rem;
      }

      &::after {
        margin-top: 1.3rem;
        margin-left: 1.2rem;
      }
    }

    h2 {
      font-size: 1.1rem;

      &::before {
        margin-top: -2.25rem;
      }

      &::after {
        margin-top: 1.75rem;
      }
    }
  }

  .page {
    min-height: 800px;
  }
}
