@import '../../global_val';

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%; // 40-60 split with content on the right side
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: $heading-font;
    font-weight: 400;

    // Opening h1 tag around title
    &::before {
      content: '<h1>';
      font-family: $tags-font;
      font-size: 18px;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: -20px;
      left: -10px;
    }

    // Closing h1 tag around title
    &::after {
      content: '</h1>';
      font-family: $tags-font;
      font-size: 18px;
      color: $primary-color;
      opacity: 0.6;
      position: absolute;
      margin-top: 38px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
    }

    // 'S' Logo in heading (Steven)
    img {
      width: 32px;
      height: auto;
      margin-left: 20px;
      opacity: 0; // Rotation animation, so initally set to 0
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  // Contact me button
  .flat-button {
    color: $primary-color;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid $primary-color;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;

    &:hover {
      background: $primary-color;
      color: #333;
    }
  }
}
