@import '../../global_val';

.page-contact {
  min-height: 875px;
}

.contact-form {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;

  &::before {
    content: '<form>';
    font-family: $tags-font;
    font-size: 1.8rem;
    color: $primary-color;
    opacity: 0.6;
    position: absolute;
    left: -2rem;
    margin-top: -3.5rem;
  }

  &::after {
    content: '</form>';
    font-family: $tags-font;
    font-size: 1.8rem;
    color: $primary-color;
    opacity: 0.6;
    position: absolute;
    left: -2rem;
    margin-top: 4.5rem;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      list-style: none;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      display: flex;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #3b3b3b;
    color: #fff;
    height: 5rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    box-sizing: border-box;

    &::placeholder {
      font-weight: 600;
    }

    &:focus {
      outline: solid 0.1rem grey;
      border-radius: 0.2rem;
      border: none;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    background: #3b3b3b;
    color: #fff;
    height: 5rem;
    min-height: 25rem;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;

    &::placeholder {
      font-weight: 600;
    }

    &:focus {
      outline: solid 0.1rem grey;
      border-radius: 0.2rem;
      border: none;
    }
  }

  .flat-button {
    color: $primary-color;
    background: 0 0; // Reset background properties to their initial values
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border: 1px solid $primary-color;
    float: left;

    &:hover {
      background: $primary-color;
      color: #333;
      cursor: pointer;
    }
  }
}

.info-map {
  position: absolute;
  background-color: #000;
  top: 2%;
  right: 3%;
  z-index: 999999;
  width: 267px;
  padding: 2rem;
  color: #fff;
  font-family: $text-font;
  font-size: 1.7rem;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 1.6rem;
    display: block;
    padding-top: 2rem;
    color: $primary-color;
  }
}

.map-wrap {
  position: absolute;
  right: 0;
  width: 53%;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1s;
  animation-fill-mode: forwards;

  .circle {
    &:focus {
      outline: none;
    }
  }

  .tooltip {
    font-size: 14px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 1550px) {
  .contact-page .text-zone {
    h1 {
      font-size: 6.5rem;

      &::before {
        top: 0rem;
      }

      &::after {
        bottom: -1.4rem;
      }
    }
  }
  .map-wrap {
    width: 51%;
  }
}

@media only screen and (max-width: 1300px) {
  .map-wrap {
    width: 48%;
  }
}

@media only screen and (max-width: 1100px) {
  .map-wrap {
    width: 46%;
  }
}

@media only screen and (max-width: 950px) {
  .page-contact {
    min-height: 1240px;
  }

  .contact-page .text-zone {
    top: 33%;
    width: 70%;

    .paragraph-div {
      &::before {
        margin-top: -2rem;
      }

      &::after {
        margin-top: -1.8rem;
      }
    }
  }

  .contact-form {
    margin-top: 6rem;
  }

  .map-wrap {
    position: static;
    width: 85%;
    height: 40rem;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 6rem;
    padding-top: 77rem;
  }

  .info-map {
    top: 78rem;
    left: auto;
    right: 5%;
    width: 180px;
    padding: 1.5rem;
    font-size: 1.4rem;

    span {
      font-size: 1.3rem;
      padding-top: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .page-contact {
    min-height: 1350px;
  }

  .contact-page .text-zone {
    top: 34%;
    left: 11rem;

    h1 {
      font-size: 4rem;

      &::before {
        top: -0.8rem;
      }

      &::after {
        bottom: -1.6rem;
      }
    }

    .paragraph-div {
      p {
        font-size: 1.4rem;
      }

      &::before {
        margin-top: -2rem;
      }

      &::after {
        margin-top: -1.6rem;
      }
    }
  }

  .contact-form {
    margin-top: 5.75rem;

    ul li.half {
      width: 100%;
      margin-left: 0;
    }
  }

  .map-wrap {
    padding-top: 85rem;
  }

  .info-map {
    top: 86.5rem;
    width: 180px;
  }
}

@media only screen and (max-width: 550px) {
  .contact-form {
    width: 90%;
  }

  .contact-page .paragraph-div {
    width: 88%;
  }
}
