@import '../../global_val';

.contact-page {
  .text-zone {
    // margin-top: 10px;
    // margin-bottom: 10px;
  }
}

.contact-form {
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;

  &::before {
    content: '<form>';
    font-family: $tags-font;
    font-size: 1.8rem;
    color: $primary-color;
    opacity: 0.6;
    position: absolute;
    left: -2rem;
    margin-top: -3.5rem;
  }

  &::after {
    content: '</form>';
    font-family: $tags-font;
    font-size: 1.8rem;
    color: $primary-color;
    opacity: 0.6;
    position: absolute;
    left: -2rem;
    margin-top: 4.5rem;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
      list-style: none;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      display: flex;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    color: #fff;
    height: 5rem;
    font-size: 1.6rem;
    padding: 0 2rem;
    box-sizing: border-box;

    &::placeholder {
      font-weight: 600;
    }

    &:focus {
      outline: solid 0.2rem black;
      border-radius: 0.2rem;
      border: none;
    }
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    color: #fff;
    height: 5rem;
    min-height: 25rem;
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;

    &::placeholder {
      font-weight: 600;
    }

    &:focus {
      outline: solid 0.2rem black;
      border-radius: 0.2rem;
      border: none;
    }
  }

  .flat-button {
    color: $primary-color;
    background: 0 0; // Reset background properties to their initial values
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1.2rem 2rem;
    border: 1px solid $primary-color;
    float: left;

    &:hover {
      background: $primary-color;
      color: #333;
      cursor: pointer;
    }
  }
}

.info-map {
  position: absolute;
  background-color: #000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: $text-font;
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: $primary-color;
  }
}

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  float: right;
  width: 53%;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;

  .circle {
    &:focus {
      outline: none;
    }
  }

  .tooltip {
    font-size: 14px;
    font-weight: 600;
  }
}
