$primary-color: #4fc1ff;
$background-color: #1a1a1a;
$text-color: #fff;
$navbar-background: #121212;
$navbar-icons: #4d4d4e;

$heading-font: 'Coolvetica';
$tags-font: 'La Belle Aurore';
$text-font: 'Helvetica Neue';
